<h3>Info Shop</h3>
<div class="example-container mat-elevation-z8">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Property</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <!-- Start row owner name -->
            <tr>
                <th scope="row">owner name</th>
                <td>{{data.infoShops.owner_name || ""}}</td>
            </tr>
            <!-- End row owner name -->
            <!-- Start row owner name -->
            <tr>
                <th scope="row">type</th>
                <td>{{data.infoShops.type || ""}}</td>
            </tr>  
            <!-- End row owner name -->
            <!-- Start row shop activity id -->
            <tr>
                <th scope="row">shop activity id</th>
                <td>{{data.infoShops.shop_activity_id || ""}}</td>
            </tr> 
            <!-- End row shop activity id -->
            <!-- Start row width -->
            <tr>
                <th scope="row">width</th>
                <td>{{data.infoShops.width || ""}}</td>
            </tr> 
            <!-- End row width -->
            <!-- Start row length -->
            <tr>
                <th scope="row">length</th>
                <td>{{data.infoShops.length || ""}}</td>
            </tr>
            <!-- End row length -->
            <!-- Start row employee number -->
            <tr>
                <th scope="row">employee number</th>
                <td>{{data.infoShops.employee_number || ""}}</td>
            </tr>  
            <!-- End row employee number -->
            <!-- Start row floor number -->
            <tr>
                <th scope="row">floor number</th>
                <td>{{data.infoShops.floor_number || ""}}</td>
            </tr> 
            <!-- End row floor number -->
            <!-- Start row area -->
            <tr>
                <th scope="row">area</th>
                <td>{{data.infoShops.area || ""}}</td>
            </tr>
            <!-- End row area -->
            <!-- Start row street -->
            <tr>
                <th scope="row">street</th>
                <td>{{data.infoShops.street || ""}}</td>
            </tr> 
            <!-- End row street -->
            <!-- Start row alley -->
            <tr>
                <th scope="row">alley</th>
                <td>{{data.infoShops.alley || ""}}</td>
            </tr>
            <!-- End row alley -->
            <!-- Start row locality -->
            <tr>
                <th scope="row">locality</th>
                <td>{{data.infoShops.locality || ""}}</td>
            </tr>
            <!-- End row locality -->
            <!-- Start row locality number -->
            <tr>
                <th scope="row">locality number</th>
                <td>{{data.infoShops.locality_number || ""}}</td>
            </tr>
            <!-- End row locality number -->
            <!-- Start row license number -->
            <tr>
                <th scope="row">license number</th>
                <td>{{data.infoShops.license_number || ""}}</td>
            </tr>
            <!-- End row license number -->
            <!-- Start row license type -->
            <tr>
                <th scope="row">license type</th>
                <td>{{data.infoShops.license_type || ""}}</td>
            </tr>
            <!-- End row license type -->
            <!--  Start row license date -->
            <tr>
                <th scope="row">license date</th>
                <td>{{data.infoShops.license_date || ""}}</td>
            </tr>    
            <!-- End row license date -->
            <!-- Start row license end date -->
            <tr>
                <th scope="row">license end date</th>
                <td>{{data.infoShops.license_end_date || ""}}</td>
            </tr>  
            <!-- End row license end date -->
            <!-- Start row billboard name -->

            <tr>
                <th scope="row">billboard name</th>
                <td>{{data.infoShops.billboard_name || ""}}</td>
            </tr>
            <!-- End row billboard name -->
            <!-- Start row billboard type-->
            <tr>
                <th scope="row">billboard type</th>
                <td>{{data.infoShops.billboard_type || ""}}</td>
            </tr>
            <!-- End row billboard type -->
            <!-- Start row billboard width -->
            <tr>
                <th scope="row">billboard width</th>
                <td>{{data.infoShops.billboard_width || ""}}</td>
            </tr>
            <!-- End row billboard width -->
            <!-- Start row billboard length -->
            <tr>
                <th scope="row">billboard length</th>
                <td>{{data.infoShops.billboard_length || ""}}</td>
            </tr>
            <!-- End row billboard length -->
            <!-- Start row billboard height -->
            <tr>
                <th scope="row">billboard height</th>
                <td>{{data.infoShops.billboard_height || ""}}</td>
            </tr>
            <!-- End row billboard height -->
            <!-- Start row billboard font type -->
            <tr>
                <th scope="row">billboard font type</th>
                <td>{{data.infoShops.billboard_font_type || ""}}</td>
            </tr>     
            <!-- End row billboard font type -->

        </tbody>
    </table>

</div>
