<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="copyrights col-md">
                © Copyrights <b>Unicom Group</b> 2018. All rights reserved.
            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="https://www.facebook.com/UnicomGroup" data-title="facebook" data-tooltip="true" target="_blank" data-position="top">
                        <span class="fa fa-facebook"></span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/unicom_group" data-title="twitter" data-tooltip="true" target="_blank" data-position="top">
                        <span class="fa fa-twitter"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/unicomgroup" data-title="linkedin" data-tooltip="true" target="_blank" data-position="top">
                        <span class="fa fa-linkedin"></span>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/+Unicomg/posts" data-title="google-plus" data-tooltip="true" target="_blank" data-position="top">
                        <span class="fa fa-google-plus"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/UnicomGroup" data-title="youtube" data-tooltip="true" target="_blank" data-position="top">
                        <span class="fa fa-youtube"></span>
                    </a>
                </li>
            </ul>
        </div>   
    </div>
</footer> 
