<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
      <app-sidenav (closedNavbar)="sidenav.close()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
      <app-navbar (sidenavToggle)="sidenav.open()" [opendSideNav]="sidenav.opened"></app-navbar>
        <div class="container" *ngIf="showLoadingIndicator">
            <div class="loader-wrapper">
              <div class="loader"></div>
            </div>
          </div>
          <div class="container-height">
              <router-outlet></router-outlet>
          </div>
      <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>


